body {
  background-color: white;
}

h1 {
  color: lightblue;
  text-align: center;
  font-weight: bold;
  font-size: 60pt;
}

h2 {
  color: red;
  text-align: center;
  font-weight: bold;
  font-size: 45pt;
}

#why {
  font-weight: bold;
  font-size: 25pt;
}

#how {
  font-weight: bold;
  font-size: 25pt;
}

#what {
  font-weight: bold;
  font-size: 25pt;
}

img {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}
